<h1>Talk details</h1>
<%= render :partial => 'talk',:locals=>{:talk=>@talk}%>


<%= link_to 'Back', event_path(@talk.event.id) %>

<%= render :partial => './comments/comment',:locals=>{:event=>@talk}%>















