<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<p>Room <%room.name%>
<%#= link_to room.name, admin_talk_room_path(@talk.id,@talk.room) %>
  :
<%=  room.description %> (<%=  room.capacity %>)</p>